/* AppStyles.css */
.app-container {
  display: flex;
  min-height: 100vh;
  /*padding-top: 64px; /* Adjust if your AppBar height is different */
}

.sidebar {
  width: 200px;
  background: #232F3E;
  position: fixed;
  height: 100%;
  z-index: 100;
}

.content-area {
  flex: 1;
  /* Adjust based on sidebar width */
  padding: 64px 10px 10px 210px;
}