/* AppStyles.css */
.app-container {
  display: flex;
  min-height: 100vh;
  padding-top: 64px; /* Adjust if your AppBar height is different */
}

.sidebar {
  width: 200px;
  background: #949af9;
  position: fixed;
  height: 100%;
}

.content-area {
  flex: 1;
  padding: 10px;
  padding-left: 210px; /* Adjust based on sidebar width */
}